.whyus-container{
 margin-top:3rem;

}
.title_text{
 color: black;
 text-align: center;
}
.content{
 display: flex;
 flex-direction: row-reverse;
 justify-content: space-between;

}
.title_text{
 color: black;
 border-bottom: 3px solid blue;
 width:8rem;
 margin: auto;
}

.content img{
 width: 32rem;
}
.description{
 width: 35rem;
margin: auto 0;
}
.description h4{
 color: black;

}
.description p{
 color: black;
line-height: 1.5rem;
}
/* Media query */
@media screen and (max-width:768px) {
 .content{
  display: block;
  margin-top:2rem;
  width:30rem;
  margin: auto;
 }
 .content img{
  width: 30rem;
  margin: auto;
 }
 .description{
 text-align:center;
 width:29rem;
 }
 .description h4{
  color: black;
 
 }
 .description p{
  color: black;
 line-height: 1.5rem;
 }
}

/* Media query 372 */
@media screen and (max-width:375px) {
 .content{
  display: block;
  margin-top:2rem;
  width:30rem;
  margin: auto;
 }
 .content img{
  width: 18rem;
  margin: auto;
 }
 .description{
 text-align:center;
 width:18rem;
 }
 .description h4{
  color: black;
 
 }
 .description p{
  color: black;
  font-size: .8rem;
 line-height: 1.5rem;
 }
}