.product_content{
 margin-top:5rem;
}

.productItem{
 display: grid;
 grid-template-columns:repeat(3, 1fr);
 gap: 2rem;
}
.product{
 width: 15rem;
 margin: auto;
}
.product img{
 width: 13rem;
 height: 10rem;
object-fit: contain;
}
.product h3{
 text-align: center;
}
.drugBtn{
width: 11rem;
margin: auto;

 }
 .drugBtn button{
  background: black;
  color: white;
  border: 2px solid white;
 padding:1rem 2rem;
 }

 @media screen and (max-width: 768px) {
  .productItem{
   display: grid;
   grid-template-columns:repeat(2, 1fr);
   gap: 2rem;
  }
 }
 
 @media screen and (max-width: 375px) {
  .productItem{
   display: grid;
   grid-template-columns:repeat(1, 1fr);
   gap: 2rem;
  }
 }